# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python cache
*.egg-info/
.pytest_cache/
.mypy_cache/