{% extends 'attendance/base.html' %}
{% load static %}

{% block title %}
<title>Student Attendance - History</title>
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/attendance_css/attendance_history.css' %}">
{% endblock %}

{% block content %}

<div class="main-content">

    <h2 class="page-title">Attendance History</h2>

    <form method="GET" class="filter-form" id="filterForm">

        <div class="filter-grid">

            <input type="text" name="search" value="{{ request.GET.search }}" placeholder="Search by Name or ID"
                class="form-control">

            <div class="form-floating">
    <input type="date"
           class="form-control"
           id="fromDate"
           name="from_date"
           value="{{ request.GET.from_date }}">
    <label for="fromDate">From Date</label>
</div>

            <div class="form-floating">
    <input type="date"
           class="form-control"
           id="toDate"
           name="to_date"
           value="{{ request.GET.to_date }}">
    <label for="toDate">To Date</label>
</div>

            <select name="status" class="form-select">

                <option value="">All Status</option>

                <option value="Present" {% if request.GET.status|stringformat:"s" == "Present" %}selected{% endif %}>
                    Present
                </option>

                <option value="Absent" {% if request.GET.status|stringformat:"s" == "Absent" %}selected{% endif %}>
                    Absent
                </option>

                <option value="Late" {% if request.GET.status|stringformat:"s" == "Late" %}selected{% endif %}>
                    Late
                </option>

            </select>

            <select name="batch" class="form-select">

                <option value="">All Batches</option>

                {% for batch in filter.form.batch.field.queryset %}
                <option value="{{ batch.id }}" {% if request.GET.batch == batch.id|stringformat:'s' %} selected {% endif %}>
                    {{ batch.batch_name }} ({{ batch.course.course_name }})
                </option>
                {% endfor %}

            </select>

            <select name="course_name" class="form-select">
                <option value="">All Courses</option>

                {% for course in courses %}
                <option value="{{ course.course_name }}">
                    {{ course.course_name }}
                </option>
                {% endfor %}
            </select>

        </div>

        <div class="filter-actions">
            <button type="button" class="clear-btn btn btn-outline-secondary" id="resetBtn">
                Reset
            </button>

            <!-- <button type="button" class="btn">
                Apply Filter
            </button> -->
        </div>

    </form>

    <div>
       <p id="search-error"></p>
    </div>

    <form method="GET"
      action="{% url 'attendance_export' %}"
      class="download-form"
      onsubmit="return validateFormat()" >

    <input type="hidden" name="search" value="{{ request.GET.search }}">
    <input type="hidden" name="from_date" value="{{ request.GET.from_date }}">
    <input type="hidden" name="to_date" value="{{ request.GET.to_date }}">
    <input type="hidden" name="status" value="{{ request.GET.status }}">
    <input type="hidden" name="batch" value="{{ request.GET.batch }}">
    <input type="hidden" name="course_name" value="{{ request.GET.course_name }}">

        <div class="format-box">

            <select name="format" id="format">
                <option value="">Select format</option>
                <option value="excel">Download Excel</option>
                <option value="pdf">Download PDF</option>
            </select>

            <p id="error-msg"></p>

        </div>

        <button type="submit" class="down">
            Download
        </button>

        <!-- <div> Export:
        <button>
            <a href="/api/attendance-export/?format=excel">Excel</a>
        </button>
        <button>
            <a href="/api/attendance-export/?format=pdf">PDF</a>
        </button>
        </div> -->

    </form>

    <div class="report-card">

        <div class="table-responsive">

            <table class="table">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Student Name</th>
                        <th>Student ID</th>
                        <th>Course</th>
                        <th>Batch</th>
                        <th>Status</th>
                        <!-- <th>Remarks</th> -->
                        <th>Marked By</th>
                    </tr>
                </thead>

                <tbody>

                    {% for record in records %}
                        <tr class="attendance-row"
                        data-name="{{ record.enrollment.student.first_name|lower }} {{ record.enrollment.student.last_name|lower }}"
                        data-id="stu{{ record.enrollment.student.id }}"
                        data-course="{{ record.enrollment.course.course_name|lower }}"
                        data-batch="{{ record.batch.id }}"
                        data-status="{{ record.status|lower }}"
                        data-date="{{ record.attendance_date|date:'Y-m-d' }}">

                        <td>{{ record.attendance_date }}</td>

                        <td>
                            <div class="student-info">

                                {% if record.enrollment.student.photo %}

                                <img src="{{ record.enrollment.student.photo.url }}" class="student-avatar-img"
                                    alt="Student">

                                {% else %}

                                <div class="student-avatar">
                                    {{ record.enrollment.student.first_name|slice:":1" }}{{ record.enrollment.student.last_name|slice:":1" }}
                                </div>

                                {% endif %}

                                <span>
                                    <a href="#" class="student-detail-btn" data-id="{{ record.enrollment.student.id }}">
                                        {{ record.enrollment.student.first_name }}
                                        {{ record.enrollment.student.last_name }}
                                    </a>
                                </span>

                            </div>
                        </td>

                        <td>STU{{ record.enrollment.student.id }}</td>

                        <td>{{ record.enrollment.course.course_name }}</td>

                        <td>{{ record.batch.batch_name }}</td>

                        <td>

                            {% if record.status == "Present" %}
                            <span class="badge-present">Present</span>

                            {% elif record.status == "Absent" %}
                            <span class="badge-absent">Absent</span>

                            {% else %}
                            <span class="badge-late">Late</span>
                            {% endif %}

                        </td>

                        <!-- <td>{{ record.remarks|default:"-" }}</td> -->
                        <td>{{ record.trainer }}</td>

                    </tr>

                    {% empty %}

                    <tr>
                        <td colspan="5" class="empty-row">
                            No attendance records found
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

            <!-- NEW MODAL START -->

            <div id="attendanceModal" class="modal">

                <div class="modal-content">

                    <span id="closeModal">&times;</span>

                    <div class="student-header">

                        <img id="studentPhoto" class="student-photo-modal" style="display:none;">

                        <div class="student-avatar-modal" id="studentAvatar">
                            SN
                        </div>

                        <div>
                            <h3 id="studentName"></h3>
                            <p id="studentInfo"></p>
                        </div>

                    </div>

                    <div class="stats">

                        <div>
                            <h2 id="presentCount">0</h2>
                            <p>Present</p>
                        </div>

                        <div>
                            <h2 id="absentCount">0</h2>
                            <p>Absent</p>
                        </div>

                        <div>
                            <h2 id="lateCount">0</h2>
                            <p>Late</p>
                        </div>

                    </div>

                    <h4>
                        Attendance Percentage :
                        <span id="attendancePercent">0</span>%
                    </h4>

                    <hr>

                    <h4>Attendance Timeline</h4>

                    <div id="timeline"></div>

                </div>

            </div>

            <!-- NEW MODAL END -->

        </div> <!-- table-responsive -->

    </div>

</div>

</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/attendance_js/attendance_history.js' %}"></script>
{% endblock %}